absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
ale-py==0.8.1
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.2.0
autocommand==2.2.2
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
backports.tarfile==1.2.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.1.1
cycler==0.12.1
datasets==3.1.0
decorator==4.4.2
dill==0.3.8
Farama-Notifications==0.0.4
filelock==3.16.1
fonttools==4.53.1
frozenlist==1.5.0
fsspec==2024.9.0
gast==0.4.0
google-auth==2.35.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gym==0.26.2
gymnasium==0.28.1
gymnasium-notices==0.0.1
h5py==3.11.0
highway-env==1.8.1
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.0.0
importlib_resources==6.4.5
inflect==7.3.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
keras==2.13.1
kiwisolver==1.4.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.1
numpy==1.24.4
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==24.1
pandas==2.0.3
pillow==10.4.0
platformdirs==4.2.2
proglog==0.1.10
protobuf==4.25.5
psutil==7.0.0
pyarrow==17.0.0
pygame==2.6.0
Pygments==2.18.0
pyparsing==3.1.4
pyswarm==0.6
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.8.1
s3transfer==0.11.4
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
Shimmy==0.2.1
stable-baselines3==2.0.0
sympy==1.13.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
threadpoolctl==3.5.0
tomli==2.0.1
torch==2.0.1+cu118
tqdm==4.66.5
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.20
xxhash==3.5.0
yarl==1.15.2
